/* body{
  margin: 2px; 
}*/
.header *{

  background: rgb(0, 204, 255);
  font-size: 1.5rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  
  position:fixed;
}

.logo{
  /* position: absolute;
  top:5vh;
  left:10px */

  color: blue;
  /* height: 50px;
  width:50px;

  animation: logo 2s infinte; */
  /* top:5px;
  left:2px; */
}
.navbar-menu{
  /* position:fixed; */
  top: 5vh;
  width: 100vw;
  padding-top: 0;
}
.navbar-menu > ul{
  display:flex;
  justify-content: space-between;
  font-size: bold;
  list-style: none;
  width: 70%;
  
  /* top:0px;
  right:5px; */
}

.navbar-menu ul li{
  display:flex;
  justify-content: space-between;
  padding: 1rem; 
}

/* main page */

.main{
  color: rgb(196, 69, 111);
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/leaf.jpeg);
  background-size: cover;
  height:90vh;
  width:100%;
}

/* main page */
.main-content{
  background: rgb(109, 184, 174);
  width:70vw;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 50% ;
}

.main-content > h1{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.main-content > p{
  display: flex;
  justify-content: center;
  align-items: center;
  color:aliceblue;
}

/* Cards  */
.cards{
  display: grid;
  background: radial-gradient(rgb(64, 169, 197), rgb(17, 162, 219), rgb(48, 113, 170));
  width:100%;
  padding-top:1rem;
  padding-bottom: 1rem;
  margin-right:2px;

  grid-template-areas:
  "h2-menu h2-menu h2-menu h2-menu"
  "card-menu card-menu card-menu drink-menu"
  "card-menu card-menu card-menu drink-menu"
  "card-menu card-menu card-menu drink-menu"
  "card-menu card-menu card-menu drink-menu"
  "card-menu card-menu card-menu drink-menu";
}

.h2-menu{
  grid-area: h2-menu;
  color:rgb(225, 191, 22);
}

.card-menu{
  grid-area:card-menu;

  margin-left: 10px;
  justify-content: center;
  border: 2px solid black;
}

/* .card-menu-list{
  grid-area: card-menu-list;
   display: grid;
  height: fit-content;
  


  grid-template-areas: 
  "smashed-avo bacon-egg"
  "big-breakfast big-breakfast"
  "veggie-breakfast eggs-benny";
} */

.drink-menu{
  grid-area: drink-menu;
  margin-right: 10px;
  border: 2px solid black;
  padding: 5px;
}
/* h3  */

h3{
  color:rgb(240, 242, 237);
}
/* grid items list*/


.smashed-avo{
  grid-area:smashed-avo;
}
.bacon-egg{
  grid-area:bacon-egg;
}

.big-breakfast{
  grid-area:big-breakfast;
}
.veggie-breakfast{
  grid-area:veggie-breakfast;
}
.eggs-benny{
  grid-area:eggs-benny;
}


.footer{
  display: flex;
  justify-content: center;
  background: rgb(60, 16, 16);
  min-height: 10vh;
  min-width: 100%;
  color: aliceblue;
  align-items: center;
}
/* Animation */
.ball{
  width:50px;
  height: 50px;
  background: radial-gradient(red, blue,white);
  border-radius: 50%;

  position:sticky;
  top:100px;
  left:100px;
  
  
  animation: doit 2s infinite alternate-reverse;
}

@keyframes doit{

  /* 0%{
    left: 50px;
    top: 50px;
}

25%{
    left: 80vw;
    top: 50px;
}

50%{
    left: 80vw;
    top: 70vw;
}

75%{
    left: 50px;
    top: 70vw;
}

100%{
    left: 50px;
    top: 50px;
} */

  0%{
    left: 5vw;
    top: 20vh;
  }

  20%{
    left: 95vw;
    top: 20vh;
  }

  40%{
    left: 47vw;
    top: 47vw;
  }

  60%{
    left: 95vw;
    top: 95vh;
  }

  80%{
    left: 47vw;
    top: 47vh;
  }
  100%{
    left: 5vw;
    top: 95vh;
  }

}